<p>addnotebook works!</p>

<form>
    <div>
        <h1>Agregar Notebook</h1>
    
          <div class="col-2">
            <input type="text" class="form-control" placeholder="Numero de Serie">
          </div>
          <div class="col-3 my-2">
            <select class="custom-select my-1 mr-sm-2" id="inlineFormCustomSelectPref">
                <option selected>Marca</option>
                <option value="1">Acer</option>
                <option value="2">Exo</option>
                <option value="3">HP</option>
                <option value="4">Lenovo</option>
                <option value="5">LG</option>
                <option value="6">Samsung</option>
                <option value="7">Sony</option>
              </select>
          </div>
    
          <div class="col-2 my-2">
            <input type="text" class="form-control" placeholder="Disco Rigido">
          </div>

          <div class="col-2 my-2">
            <input type="text" class="form-control" placeholder="Memoria RAM">
          </div>

          <div class="col-3 my-2">
            <input type="text" class="form-control" placeholder="Microprocesador">
          </div>

          <div class="col-3 my-2">
            <select class="custom-select my-1 mr-sm-2" id="inlineFormCustomSelectPref">
                <option selected>Sistema Operativo</option>
                <option value="1">Linux</option>
                <option value="2">Mac</option>
                <option value="3">Windows 7</option>
                <option value="4">Windows 8</option>
                <option value="5">Windows 10</option>
              </select>
          </div>

          <div class="col-1 my-2">
            <select class="custom-select my-1 mr-sm-2" id="inlineFormCustomSelectPref">
                <option selected>Estado</option>
                <option value="1">A</option>
                <option value="2">B</option>
                <option value="3">C</option>
              </select>
          </div>
       
            
    
            
    
            
            
            
            <div class="col-auto my-4">
                <button type="submit" class="btn btn-success">Agregar Notebook</button>
                <button type="reset" class="btn btn-primary">Limpiar</button>
            </div>
    </div>
</form>
