div{
    background: #009F3B;
    
}
img{
    width: 50px;
    
}
.container {
    display: flex;
    justify-content: center/flex-start;
    color: black;
    text-align: center;

}
footer {
    background: #009F3B;
  color: #fff;
  width: 100%;
  text-align: center;
  padding: 1em;
  align-self: flex-end;
  
  }

/*footer {
position: absolute;
bottom: 0;
width: 100%;
}*/

    