<app-addautor></app-addautor>

<p>listaautores works!</p>

<div>
    <h1>Autores</h1>

    
    
    <div class="input-group col-5">
        <input type="search" class="form-control rounded" placeholder="Nombre, Apellido..." aria-label="Search" aria-describedby="search-addon" />
        <button type="button" class="btn btn-outline-primary">Buscar</button>

        <div class="dropdown">
            <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Ordenar por...
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <a class="dropdown-item" >ID</a>
            <a class="dropdown-item" >Apellido</a>
            <a class="dropdown-item" >Nombre</a>
            </div>
        </div>
       
    </div>

    <table class="table table-dark table-hover" >
        <thead class="bg-success">
            <th>ID</th>
            <th>Apellido</th>
            <th>Nombre</th>
            <th>Accion</th>
        </thead>
        <tr>
            <th>001</th>
            <th>Villalobos</th>
            <th>Ricardo Marcelo</th>
            <th> <button class="btn btn-warning">Modificar</button>  <button class="btn btn-danger">Eliminar</button> </th>
         </tr>
    </table>

</div>

    


    


