<div>
    <h1>Notebooks</h1>

    <button id="addboton" class="btn btn-success">Agregar Notebook</button>
    
    <div class="input-group col-5">
        <input type="search" class="form-control rounded" placeholder="Marca, Sistema Operativo..." aria-label="Search" aria-describedby="search-addon" />
        <button type="button" class="btn btn-outline-primary">Buscar</button>

        <div class="dropdown">
            <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Ordenar por...
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <a class="dropdown-item" >ID</a>
            <a class="dropdown-item" >Estado A-D</a>
            <a class="dropdown-item" >Alfabetico</a>
            </div>
        </div>
       
    </div>

      
   
    
    <table class="table table-dark table-hover" >
        <thead class="bg-success">
            <th>ID</th>
            <th>Numero de Serie</th>
            <th>Marca</th>
            <th>Disco Rigido</th>
            <th>RAM</th>
            <th>Microprocesador</th>
            <th>Sistema Operativo</th>
            <th>Estado</th>
            <th>Accion</th>
        </thead>
        <tr>
            <th>001</th>
            <th>12345687</th>
            <th>Octopus</th>
            <th>500 GB</th>
            <th>32 GB</th>
            <th>Intel Core</th>
            <th>Windows 10</th>
            <th>B</th>
            <th> <button class="btn btn-warning">Modificar</button>  <button class="btn btn-danger">Eliminar</button> </th>
            
        </tr>
        <tr>
            <th>002</th>
            <th>1111118</th>
            <th>Octopus</th>
            <th>500 GB</th>
            <th>32 GB</th>
            <th>Intel Core</th>
            <th>Windows 10</th>
            <th>A</th>
            <th> <button class="btn btn-warning">Modificar</button>  <button class="btn btn-danger">Eliminar</button> </th>
            
        </tr>
        <tr>
            <th>003</th>
            <th>12222229</th>
            <th>LG</th>
            <th>400 GB</th>
            <th>32 GB</th>
            <th>Intel Core</th>
            <th>Windows 10</th>
            <th>B</th>
            <th> <button class="btn btn-warning">Modificar</button>  <button class="btn btn-danger">Eliminar</button> </th>
          
        </tr>





    </table>
    

</div>
